# Ignore build outputs
output/
site/data/

# Python virtual envs
.venv/
venv/

# PyInstaller
dist/
build/

# caches and compiled
__pycache__/
*.py[cod]

# OS
.DS_Store
Thumbs.db

# Node modules (if any)
node_modules/

# mac specific
*.DS_Store

# IDEs
.vscode/
.idea/
